$special-orange: rgba(255, 99, 24, 0.9);
$hover-orange: rgba(240, 79, 11, 1);

@mixin signin() {
  background: $hover-orange;
  color: white;
  border: none;
}

#avatar-icon {
  @include signin;
  display: block;
  position: absolute;
  top: 2.55vw;
  right: 3.55vw;
  width: 8.9vw;
  height: 2.9vw;
  border-radius: 5vw;
  z-index: 1;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
  &:hover{
    cursor: pointer;
    background: $special-orange;
    box-shadow: 2px 2px 1px 0px white;
  }
}