$special-orange: rgba(255, 99, 24, 0.9);
$hover-orange: rgba(240, 79, 11, 1);

@mixin control() {
  border-color: $special-orange;
  color: $special-orange;
}

#gcd-container {
  left: 25px;
  z-index: 200;
  ul {
    z-index: 200;
  }
}

.link-box{
  position: absolute;
  //width: 20vw;
  height: 150px;
  left: 225px;
  bottom: 105px;
  z-index: 100;
  overflow: hidden;

  .textarea{
    width: 175px;
  }
}

.filter-control {
  position: absolute;
  left: 8px;
  top: 130px;
  width: 250px;
  height:min-content;
  z-index: 1;
  overflow: hidden;
  //background-color: #0F1D38;
  pointer-events: none;

  .filter-icon {
    width: 50px;
    height: 50px;
    z-index: 1;
    pointer-events: all;
    //overflow: visible;
    &:hover {
      cursor: pointer;
  }
  }
  .filter-accordion {
    z-index: 1;
    width: 85%;
    height: min-content;
    overflow: hidden;
    box-shadow: 2px 2px 1px 1px rgba(40,40,40,0.3);
    pointer-events: all;

    .accordion-header{
      overflow: hidden;

    }


    .accordion-content {
      overflow: hidden;
    }

    .language-filter {
      //width: 200px;


      .columns{

        width: 200px;
        //height: 40px;
        .column {
          //margin-top: 0;
          width: 200px;
          .button {

          }
        }
      }
      .select {
        width: 100px;
        margin-right: -10px;
      }
      .tags {
        padding-top: 0;
        //margin-top: 0px;
       // margin-bottom: 0px;
        width: 180px;
        .tag{
          //height: fit-content !important;
          white-space: unset !important;
        }
      }
    }

    .country-filter {
       width: 200px;
       .columns{
         //height: 40px;
         width: 200px;
         .column {
           width: 200px;
           .button {

           }
         }
       }
       .select {
         width: 100px;
         margin-right: -10px;
       }
       .tags {
         width: 180px;
         .tag{
           //height: auto !important;
           white-space: unset !important;
         }
       }
     }

    .rating-filter {
      width: 200px;
      max-height: 500px;
      //overflow-y: scroll;
      .columns{
        //height: 40px;
        width: 200px;
        .column {
          width: 200px;
          .button {

          }
        }
      }
      .select {
        width: 100px;
        margin-right: -10px;
      }
      .tags {
        width: 180px;
        .tag{
          margin-bottom: 10px!important;
          height: auto !important;
          white-space: unset !important;
        }
      }
    }
  }
}

.ol-control {
  z-index: 100;

}

.zoom-control {
  @include control();
  display: block;
  width: 2em;
  height: 2em;
}

.zoom-control-box {
  position: absolute;
  background-color: rgba(255,255,255,0.3);
  right: 2%;
  bottom: 2%;

}

#zoom-in {
  color: white;
  background-color: $special-orange;
  display: block;

  &:hover {
    background-color: $hover-orange;
  }
}

#zoom-out {
  color: white;
  background-color: $special-orange;
  display: block;
  &:hover {
    background-color: $hover-orange;
  }
}

.ol-zoom {
    //left: unset
  // ;
    position: absolute;
    width: 31px;
    height: 57px;
    left: 5px;
    top: 82.5vh;
}

.ol-full-screen {
  position: absolute;
  left: 5px;
  top: 76vh;
  width: 30px;
  height: 30px;
}

.attribution-tag{
  position: absolute;
  left: 5px;
  bottom: 8px;
  z-index: 3;
}