.message {
  text-align: center;
    box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2);
  //border: 1px solid lightgray;
  //margin: 5px;
}

.message-body {
  margin: 0 0 5px 0;
  //padding: 5px 10px;
}

//.message:hover {
//  border: 0;
//  box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.3);
//}
