$special-orange: rgba(255, 99, 24, 0.8);
$hover-orange: rgba(240, 79, 11, 1);
.map-box {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: hsla(224, 74%, 77%, 1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

.ol-control {
    button {
        background-color: $special-orange !important;
    }

    button:hover {
        background-color: $hover-orange !important;
    }
}

.story-marker {
    position: absolute;
    //float: left;
    margin-right: 0px;
    padding: 0px;
    width: 2.5vw;
    height: 2.5vw;
    //background-color: #950B02;
    .marker-image {
      //float: left;
      width: 100%;
      height: 100%;
    }
}
.ol-attribution{
    display: block!important;
    position: absolute;
    width: 31px;
    left: 5px;
    bottom: 5px;
    overflow-x: visible;
    overflow-y: hidden;
}
.marker-layer {

    display: block;
}

.ol-overlay-container-stopevent {
    overflow: hidden;
}

.expanded-marker-card
{
    width: 15vw;
    height: 15vh;
    z-index: 5;
    //background-color: darkcyan;
    .columns{
        width: 100%;
        height: 100%;
        .column{
            .story-marker-message {

                display: block;
                //width: 100%;
                //height: 100px;
                //overflow: hidden;
                font-family: 'Sen', sans-serif!important;
                background-color: rgba(20, 20, 20, 0.80);
                border-radius: 10px;
                color: white!important;
                z-index: 5;

                .message-header {

                    border-radius: 4px;
                    white-space: nowrap;
                    background-color: $hover-orange;
                    z-index: 5;
                    font-family: 'Sen', sans-serif!important;
                    color: white!important;
                    .label{
                        font-family: 'Sen', sans-serif!important;
                        color: white!important;
                        z-index: 10!important;
                    }

                }

                .message-body {

                    //white-space: nowrap;
                    width: 100%;
                    white-space: nowrap;
                    min-height: min-content;
                    align-content: stretch;
                    z-index: 20;
                    color: white!important;
                    font-family: 'Sen', sans-serif!important;
                    .label{
                        color: white!important;
                        font-family: 'Sen', sans-serif!important;
                    }
                }
            }
        }
    }


}
