.bars {
 height:300px;
 background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

/*.bars:hover {*/
/*  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);*/
/*}*/
