$special-orange: rgba(255, 99, 24, 0.9);
$hover-orange: rgba(240, 79, 11, 1);
$steps-completed-color: $special-orange;

@import "~bulma-o-steps/bulma-steps";


@import "~bulma-carousel/dist/css/bulma-carousel.min.css";

$rhap_theme-color: $special-orange !default;   // Color of all buttons and volume/progress indicators
$rhap_background-color: rgba(68, 68, 68, 0.0) !default;           // Color of the player background
$rhap_bar-color: #e4e4e4 !default;     // Color of volume and progress bar
$rhap_time-color: $info !default;       // Font color of current time and duration
$rhap_font-family: inherit !default;   // Font family of current time and duration
@import "../../../../node_modules/react-h5-audio-player/src/styles.scss";

@import "~video-react/styles/scss/video-react";


.BrainhubCarousel__arrows{
  border-radius: 20px;
  background-color: $hover-orange!important;
  &:hover{
    background-color: $info!important;
  }
}
#image-content {
  position: absolute;
  top: 15%;
  left: 12%;
  width: 40%;
  height: auto;
  z-index: 900!important;
  overflow: hidden;




  .carousel-component{
    width: 500px;
    height: 300px;
  }
  .carousel-item {
    width: 100%;
    height: 100%;

    figure{
      width: 100%;
      height: 100%;
    }
  }

  figure {

    //width: 100%;
    //height: 100%;

    img {
      //width: 100%;
      //height: 100%;
    }
  }

}

.media-marker {
  position: absolute;
  //background-color: crimson;
  z-index: 900;
  width: 75px;
  height: 75px;
  bottom: 8%;
  left: 27%;
  &:hover {
    cursor: pointer;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

#open-catalogue{
  position: absolute;
  top: 138px;
  left: 60px;
  z-index: 2;
  background-color: $hover-orange;
  font-family: 'Sen', sans-serif;
  font-size: small;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
  &:hover{
    background-color: $special-orange;
    box-shadow: 1px 1px 1px 1px rgba(255,255,255,0.4);
  }
}

#quickviewDefault{
  top: 20vh;
  height: 80vh;
  bottom: 0;
  background-color: rgba(0,0,0,0);

  .quickview-header{
    position: absolute;
    width: 30vw;
    top: 0;
    right:-5px;
    background-color: $hover-orange;
    font-family: 'Sen', sans-serif;
    color: white;
    .title{
      font-family: 'Sen', sans-serif;
      font-size: 1.5em;
      color: white;
      padding-left: 10%;
    }
  }

  .quickview-body{
    position: absolute;
    width: 30vw;
    height: 90%;
    //top: 10%;
    right: -5px;
    bottom: 0%;
    background-color: rgba(0,0,0,0);

    ::-webkit-scrollbar {
      width: 12px;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 8px $special-orange;
    }
    .quickview-block{
      width: 30vw;
      height: 100%;
      bottom: 0%;
      background-color: rgba(30,30,30,0.75);
      overflow-y: scroll;
      overflow-x: hidden;
      .level {

      }
      .media{
        width: 25vw;
        height: fit-content;
        color: white;
        padding-left: 5vw;
        font-family: 'Sen', sans-serif;

        z-index: 900;
        .media-content{
          color: white;
          z-index: 900;
          .label{
            color: $info;
            z-index: 900;
          }
        }
        i{
          &:hover{
            color: $hover-orange;
            cursor: pointer;
          }
        }

      }
    }
  }
}

.story-box {
  height: 603px;
  width: 607px;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;

  .steps {

    .step-item {

      &:hover {
        cursor: pointer;
      }
    }
  }

  .back-shape {
    //display: inline-block;
    position: absolute;
    top: 0%;
    right: 0%;
    //top: 200px;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .exit-button {
    position: absolute;
    width: 9.5%;
    height: 8%;
    bottom: 60%;
    right: 19%;
    z-index: 900;
    pointer-events: all;

    &:hover {
      cursor: pointer;
    }
  }


  .content {

    position: absolute;
    bottom: 50%;
    left: 40%;
    width: 30%;
    font-family: 'Sen', sans-serif;
    //background-color: crimson;
    //font-family: 'Noto Sans', sans-serif;

    .title {
      //padding-top: 40%;
      position: absolute;
      left: -50px;
      bottom: 20px;
      color: white;
      width: 100%;
      //background-color: #276cda;
      padding-right: 0;
      margin-right: 0px;
      //overflow-wrap: break-word;
     // word-wrap: break-word;
    }
    .subtitle {
      color: white;
    }
  }

    .portrait {

      position: absolute;

      bottom: 58%;
      right: 59%;
      width: 11%;
      height: 11%;
      background-color: #0F1D38;

      .image {
        box-shadow: 5px 5px 2.5px 0px rgba(0,0,0,0.75);
        //overflow: hidden;

        img {
          height: 100%;
          max-width: 100%;
        }
      }
    }

    .story-body {
      position: absolute;
      display: inline-block;
      pointer-events: all;
      width: 75%;
      height: 30%;
      top: 55%;
      left: 22%;
      color: white;

      .audio-box {
        position: absolute;
        bottom: -107%;
        left: 2%;
        width: 90%;
        height: 90%;
        overflow-y: hidden;
      }

      ::-webkit-scrollbar {
        width: 12px;
      }

      ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 8px $special-orange;
      }


      .story-text-area {
        //margin: 5px 5px 5px 5px;
        margin-top: 12px;
        padding: 10px 10px;
        overflow-y: scroll;
        //overflow-x: scroll;
        width: fit-content;
        height: 100%;
        scrollbar-color: yellow blue;
        //padding-bottom: 5px;
      }

        .story-text {
          font-family: 'Sen', sans-serif;
          scrollbar-color: yellow blue;
          //width: 100%;
          //height: 100%;
        }
      }

    .select {
      position: absolute;
      background-color: rgba(51,51,51,0);
      top: 41.5%;
      left: 58%;
      max-width: 24%;
      //height: 100%;
      pointer-events: all;
      //overflow: hidden;

      select {
        //border-color: $special-orange;

        background-color: rgba(51,51,51,0.0);
        color: white;
        width: min-content;
        height: 100%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        //overflow: hidden;
      }
      option {
        background-color: rgba(51,51,51,0.85);
        width: 100%;
        color: white;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }
    }

}

