$special-orange: rgba(255, 99, 24, 0.8);
$hover-orange: rgba(240, 79, 11, 1);

@import "~bulma-tooltip/dist/css/bulma-tooltip.min.css";

@mixin blurred() {
  backdrop-filter: saturate(100%) blur(10px);
}

.burger-icon {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  left: 2%;
  top: 2%;
  z-index: 100;

}

.menu-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 7%;
  top: 2%;
  z-index: 100;
  &:hover{
    cursor: pointer;

  }
}

.main-menu-container {
  width: 100%;
  height: 80vh;
  position: absolute;
  color: #0F1D38;
  z-index: 50;
  pointer-events: none;
  display: block;
  overflow: hidden;
  top: 15vh;

}

.main-menu-item {

  width: 100%;
  height: 90px;
  border-radius: 60px;
  padding-top: 10px;
  margin-top: 0.5%;
  border-style: groove;
  border-width: medium;
  border-color: #0F1D38;
  pointer-events: all;


  h1 {
    margin-left: 15%;
    margin-top: 1.2%;
    font-size: x-large;
  }
  .menu-link {
    color: #0F1D38;
  }

}

.main-menu-link {
  color: #0F1D38;

  margin-left: 15%;
  margin-top: 1.2%;
}

.user-box {
  position: absolute;
  right: 1%;
  top: -10%;
  z-index: 50;
}

.main-menu-box-unblurred {

  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  pointer-events: none;
}

.main-menu-box-blurred {
  @include blurred;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 80;
}

.main-menu {

  position: absolute;
  top: 0;
  left: 0;
  width: 625px;
  height: 625px;
  z-index: 99;
  overflow: hidden;
  .menu-image {
    position: absolute;
    top: 0px;
    left: 40px;
    width: 300px;
    height: 625px;
    margin: 0;
    padding: 0;
  }
  #content-creator-link{
    position: absolute;
    top: 30px;
    left: 205px;
  }

  #admin-link{
    position: absolute;
    //position: absolute;
    top: 30px;
    left: 240px;
  }
}


  .menu-item {
    position: absolute;
    width: 280px;
    overflow: hidden !important;
    height: 80px;

    #menu-item-columns {
      position: absolute;
      width: 280px;
      height: min-content !important;
    }
      #menu-item-head-div
      {
        height: 80px!important;
        overflow: hidden;


        #head-text-no-hover {
          height: 100px!important;
          text-align: right;
          padding-right: 8px;
          color: white;
          font-size: xxx-large;
          text-shadow: 1px 1px 3px #333333;
        }

        #head-text-hover {
          height: 100px!important;
          text-align: right;
          padding-right: 8px;
          color: black;
          font-size: xxx-large;
          cursor: pointer;
          text-shadow: 2px 2px 3px $hover-orange;
        }


      }
      #menu-item-tail-div
      {

        height: 80px!important;
        overflow: hidden;

        #tail-text-hover
        {
          height: 100px!important;
          width: min-content;
          color: black;
          font-size: xxx-large;
          text-align: left;
          cursor: pointer;
          text-shadow: 2px 2px 3px $hover-orange;
        }

        #tail-text-no-hover
        {
          height: 100px!important;
          width: min-content;
          color: black;
          font-size: xxx-large;
          text-align: left;
          text-shadow: 1px 1px 3px lightsteelblue;
        }
      }

  }


