/**

  Emergency SCSS

  Please use prefix 'asp-' in order to apply emergency styling

  e.g
    <div id="asp-mybox"></div>

    #asp-mybox {
      color: chocolate !important
    }

 */






// Backup below

//#asp-user-list {
//  overflow: auto;
//  table {
//    overflow: auto;
//    display: inline-block;
//    height: 80%;
//  }
//}
//
//#asp-branding {
//  color: chocolate;
//}
//
//.asp-common-body {
//  margin: {
//    top: 30px !important
//  }
//}
//
//.asp-default-color-background {
//  background: linear-gradient(to right, #fc2d05, #ffe186);
//}
//
//.is-asp-transparent {
//  opacity: 0.8;
//
//}
//
////temporary
//.asp-youtube {
//  position: absolute;
//  top: 100px;
//  left: 20px;
//}
//
//nav.navbar {
//  border-top: 4px solid #fc2d05 !important;
//}
//
//html, body {
//  height: unset !important;
//}
//
//html, body {
//  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
//  font-size: 16px;
//  line-height: 1.5;
//  height: 100%;
//}
//
//nav.navbar {
//  border-top: 4px solid #276cda;
//  //margin-bottom: 1rem;
//}
//
//.navbar-item.brand-text {
//  font-weight: 300;
//}
//
//.navbar-item, .navbar-link {
//  font-size: 14px;
//  font-weight: 700;
//}
//
//.columns {
//  width: 100%;
//  height: 100% !important;
//  margin-left: 0;
//}
//
//.menu-label {
//  color: #8F99A3;
//  //letter-spacing: 1.3;
//  font-weight: 700;
//}
//
//.menu-list a {
//  color: #0F1D38;
//  font-size: 14px;
//  font-weight: 700;
//}
//
//.menu-list a:hover {
//  background-color: transparent;
//  color: #276cda;
//}
//
//.menu-list a.is-active {
//  background-color: transparent;
//  color: #276cda;
//  font-weight: 700;
//}
//
//.card {
//  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
//  margin-bottom: 2rem;
//  width: 400px;
//}
//
//.card-header-title {
//  color: #8F99A3;
//  font-weight: 400;
//}
//
//.info-tiles {
//  margin: 1rem 0;
//}
//
//.info-tiles .subtitle {
//  font-weight: 300;
//  color: #8F99A3;
//}
//
//.hero.welcome.is-info {
//  background: #36D1DC;
//  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
//  background: linear-gradient(to right, #5B86E5, #36D1DC);
//}
//
//.hero.welcome .title, .hero.welcome .subtitle {
//  color: hsl(192, 17%, 99%);
//}
//
//.card .content {
//  font-size: 14px;
//}
//
//.card-footer-item {
//  font-size: 14px;
//  font-weight: 700;
//  color: #8F99A3;
//}
//
//.card-footer-item:hover {
//}
//
//.card-table .table {
//  margin-bottom: 0;
//}
//
//.events-card .card-table {
//  max-height: 250px;
//  overflow-y: scroll;
//}
