//asp stands for Asylum Seeker Project
//It is used for prefix

@import url('https://fonts.googleapis.com/css?family=Sen&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+JP|Noto+Sans+KR|Noto+Sans+SC&display=swap&subset=chinese-simplified,cyrillic,cyrillic-ext,devanagari,greek,greek-ext,japanese,korean,latin-ext,vietnamese');
//font-family: 'Sen', sans-serif;
//font-family: 'Noto Sans JP', sans-serif;
//font-family: 'Noto Sans', sans-serif;
//font-family: 'Noto Sans KR', sans-serif;
//font-family: 'Noto Sans SC', sans-serif;
