
// wide
@media screen and (min-width: 1161px) {
    .asp-dashboard-body {
        padding-left: 14rem;
        transition: padding-left .25s ease-in-out 50ms;
    }
    .asp-side {
        display: flex !important;
        flex-direction: column;
        width: 14rem;
        transition: left .25s ease-in-out 50ms;
    }
    .asp-dashboard-item-label {
        display: inline-block !important;
    }
    .asp-navbar-offset {
        display: inline-block !important;
        padding-left: 14rem;
    }
}

// normal
@media screen and (min-width: 1024px) and (max-width: 1160px){
    .asp-dashboard-body {
        padding-left: 4.5rem;
        transition: padding-left .25s ease-in-out 50ms;
    }
    .asp-side {
        display: flex !important;
        flex-direction: column;
        width: 4.5rem;
        transition: left .25s ease-in-out 50ms;
    }
    .asp-dashboard-item-label {
        display: none !important;
    }
    .asp-navbar-offset {
        display: inline-block !important;
        padding-left: 4.5rem;
    }
    .menu-label {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .asp-user-list {
      th, td {
          display: flex;
          width: auto;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          text-align: right;
          border-bottom: 1px solid #f5f5f5;
      }
    }
}




// Default screen
body::-webkit-scrollbar {
    display: none !important;
}
.asp-full-height {
    height: 100vh;
    div.hero-body {
        height: inherit;
    }
}
.asp-dashboard-body {
    background-color: #f8f8f8;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 3.25rem;
}
.asp-scrollable-body {
    overflow-x: hidden;
    overflow-y: scroll;
}
.asp-side {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    height: 100vh;
    padding-top: 3.25rem;
    box-shadow: none;
    background: #2e323a;
}
.asp-navbar-top {
    -webkit-box-shadow: 0 1px 0 rgba(24,28,33,.04);
    box-shadow: 0 1px 0 rgba(24,28,33,.04);
}
.asp-navbar-offset {
    display: none;
}
.asp-round-avatar {
    div {
        border-radius: 290486px;
    }
}
.asp-dashboard-icon-button {
    a {
        color: #4a4a4a;
    }
    a:hover {
        color: #f04f0b;
    }
    i {
        @extend .asp-centerize;
    }
    .media {
        p {
            text-align: center;
        }
    }
}
.asp-centerize {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.asp-profile {
    padding: 0 !important;
}
.asp-profile-avatar {
    div {
        border-radius: 290486px;
    }
}
.asp-profile-avatar-listview {
    * {
        font-size: 1em !important;
    }
    div {
        width: 2em !important;
        height: 2em !important;
    }
}
.asp-user-list {
    table.table thead th {
        border-bottom-width: 1px;
    }
    .table thead td, .table thead th {
        color: #363636;
        border: 1px solid #fafafa;
        border-width: 0 0 1px;
        padding: .5em .75em;
        vertical-align: top;
    }
    table {
        width: 100%;
        border-spacing: 0;

        th.is-sortable {
            cursor: pointer;
        }
        th {
            .th-wrap {
                span {
                    padding-left: 1em;
                }
            }
        }
        tr {
          border: 0;
        }

    }
}
.asp-menu-activation {
    a {
        * {
            pointer-events: none;
        }
    }
}
.asp-inner-notification {
    background: transparent !important;
}
.asp-strength-meter {
    border: none;

    span {
        width: 30%;
    }
}

// referred
.menu-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}
.ps {
    overflow: hidden!important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}
.menu.is-menu-bottom {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.upload input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    outline: none;
    cursor: pointer;
    z-index: -1;
}
.is-sortable {
    span.icon {
        display: none;
    }
}
.is-current-sort {
    border-color: #7a7a7a;
    font-weight: 700;

    span.icon {
        display: inline-flex !important;
    }
}










// custom
//.asp-full-height {
//    height: 100vh;
//    div.hero-body {
//        height: inherit;
//    }
//}
//.asp-is-dashboard-avatar {
//    position: absolute;
//    top: 8vh;
//    left: 84vw;
//}
//.is-user-avatar.has-max-width {
//    max-width: 7rem;
//}
//.is-user-avatar img {
//    margin: 0 auto;
//    border-radius: 290486px;
//    display: block;
//    height: auto;
//    width: 100%;
//}
.menu {
    p {
        padding-top: 1em;
        padding-left: 1em;
    }
}
.menu-list {
    a.is-active {
        background-color: #282c33;
        color: #fff;
    }
}
.menu-list {
    a {
        border-radius: 0;
        color: #727c8f;
        display: block;
        padding: .5rem 0 !important;
    }
}
aside.asp-side {
    li {
        a {
            .icon {
                width: 4.5rem;
            }
        }
    }
}
//aside.asp-side {
//    li {
//        a {
//            span.asp-dashboard-item-label {
//                display: none;
//            }
//        }
//    }
//}

