.custom-space {
    height: 50px;
    background-color: #8F99A3;
}

.column, .columns {
    column-gap: 10px;
    padding: 0px;
    margin: 10px;
}

.row, .rows {
    row-gap: 10px;
}

.Report {
    text-align: center;
    padding: 20px 0px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.Report-header {
    background-color: #ffffff; /*#f1f3f5;*/
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
