#editor-container{
    background: #f3f1f2;
    font-family: sans-serif;
}

.editor .ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
}

/* Snow Theme */
.editor .ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.editor .ql-bubble .ql-editor {
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

/*temporary*/
.ql-editor {
    height: 50vh !important;
}

.editor .ql-editor {
    /*important temprary*/
    min-height: 38em !important;
}

.themeSwitcher {
    margin-top: 0.5em;
    font-size: small;
}

#headerDiv{
    margin: 0 auto 2em auto;
}

#contentContainer{
    background-color: rgba(0,0,0,0);
}

#saveTextButton{
    margin-top: 0.6vh;
}

#text-language{
    width: 20vw;
}

#text-language label{
    margin-bottom: 0;
    margin-right: 1vw;
}

#text-language-select{
    width: 10vw;
}
