#delete-mappoint-confirm button {
  margin-right: 5vw;
}

#delete-mappoint-confirm .level-right {
  width: 20vw;
}

#delete-mappoint-confirm .level {
  padding: 0 1vw;
}

#modify-mappoints {
  margin: 0;
  padding: 0 0.8vw;
}

#coordinate-picker-container{
  text-align: center;
}

#mappoint-location-success{
  text-align: center;
}

#content-element-list-langs{
  max-width: 13vw;
}

