.storyOptions{
    margin-right: 0.5vw;
}

#story-table{
    display: block;
    height: 60vh;
    overflow: auto;
}

#storyList{
    margin-right: 2%;
    margin-bottom: 0;
    width: 48vw;
}

#story-search{
    height: 60vh;
    overflow: auto;
}

#o2xp {
    .title{
        font-size: 1.8rem!important;
        margin: auto;
    }
}