#upload-messages{

    .message{
        display: none;
    }
}

#upload-preview > *{
    margin: auto;
}

#upload-file-label{
    margin: auto;
}

#file-upload-header{
  text-align: center;
}

#upload-language{
    .select{
        width: 20vw;
    }
}

#uploadModal{
    //top: 50vh;
}
